body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-image {
  background-image: url('https://source.unsplash.com/WLUHO9A_xik/1600x900');
  width: 100%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  width: 100%;
}
.sidebarItems button {
  width: 100%;
}
