@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  background-color: #dff9fb !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-image {
  background-image: url('https://source.unsplash.com/WLUHO9A_xik/1600x900');
  width: 100%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  width: 100%;
}
.sidebarItems button {
  width: 100%;
}

.active-class {
  background-color: antiquewhite;
}
